.App {
    text-align: center;
}
#buttonFunction{
    float:right;
}
.edit-card {
    float: right;

}
.edit-card:hover{
    cursor: pointer;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.global-loading{
    position: fixed;
    background: rgba(0,0,0,0.4);
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.loading-img{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left:0;
    right: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}